@font-face {
    font-family: 'Source Serif 4';
    src: url('../fonts/SourceSerif4_18pt-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Neue Machina;
    src: url('../fonts/NeueMachina-Ultrabold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}




.guide-headline * {
  font-family: 'Neue Machina', sans-serif;
    color: #2825b8;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 4vw;
}

.guidline-section * {
    font-family: 'Source Serif 4', sans-serif;
}

.space-btw-guide {
  margin: 3%;  
  padding-left: 5%;
}

.headline2 {
    font-family: 'Neue Machina', sans-serif;
    padding-left: 5%;
    font-size: 2vw;
    padding: 1%;
    color:#2825b8
}

.headline3 {
    font-family: 'Neue Machina', sans-serif;
    padding-left: 5%;
    font-size: 1.8vw;
    padding-bottom: 0.7%;
    color: #db2e50;
    
    
}
.guide-list {
    list-style: disc;
    margin-left: 6%;
    padding-left: 4%;
    font-size: 2vw;
    color: #103957;
}

#last-sentence {
    font-family: 'Neue Machina', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1.5vw;

}

