.turn-btn {
    border: 0;
    font-family: 'Neue Machina', sans-serif;
    background-color:#fd214a;
    color: #fffefe;
    border: 0;
    padding: 10px;
    border-radius: 15px;
    font-size: 1rem;
}

#stat {
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-status {
    border: 0;
    font-family: 'Neue Machina', sans-serif;
    background-color:#297ebc;
    color: #fffefe;
    border: 0;
    padding: 20px;
    border-radius: 20px;
    font-size: 2rem;
    width: 40%;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px auto;

}

.game-controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px auto;
}

.turn-btn {
    font-size: 1.8rem;

}